annotated-types==0.6.0
appdirs==1.4.4
asgiref==3.7.2
atomicwrites==1.4.0
bkcharts==0.2
black==19.10b0
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.16.0
comtypes==1.1.10
constantly==15.1.0
crypto==1.4.1
cryptography==42.0.5
cssselect==1.1.0
datashape==0.5.2
distlib==0.3.7
django-crispy-forms
django-extensions
Django
et-xmlfile==1.1.0
filelock==3.12.2
fonttools==4.25.0
graphviz==0.20.1
imutils==0.5.4
inflection==0.5.1
llvmlite==0.41.0
mccabe==0.6.1
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.33
Naked==0.1.32
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==9.0.1
platformdirs==3.10.0
protobuf==3.19.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyasn1-modules==0.2.8
pycairo==1.25.1
pycosat==0.6.3
pycparser==2.21
pycryptodome==3.20.0
pycurl==7.44.1
pydantic_core==2.10.1
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pyreadline==2.1
pytest==7.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
PyYAML==6.0
queuelib==1.5.0
ruamel.yaml==0.18.2
ruamel.yaml.clib==0.2.8
shellescape==3.8.1
sklearn==0.0
sqlparse==0.4.4
numpy==1.23.5
tabulate==0.8.9
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
vext==0.7.6
virtualenv==20.24.3
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
zict==2.0.0
requests
setuptools==59.5.0
